<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChFbw2MaMVGGbcHFSfEdezVsT_SUw779g</string>
	<key>GCM_SENDER_ID</key>
	<string>103568601075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csse.constructo.constructo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>playground-6d807</string>
	<key>STORAGE_BUCKET</key>
	<string>playground-6d807.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103568601075:ios:be15aa3cc5215c6d93ac86</string>
</dict>
</plist>